body {
  margin: 0px;

  background: #1B1B23;
  color: #E9E7E5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#appName {
  font-size: 24px;
}

div {

}

#topnav {
  display: flex;
  justify-content: center;
  height: 50px;
  background: #393E46;
  overflow: hidden;

}

.navWidth {
  width: 1080px;

  display: flex;
  flex-direction: row;
  padding: 0 0 0 10px;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

nav span {
  margin: 0 5px;
}

.active {
  color: #FFD369;
}